//= require font-awesome

// @import url(https://fonts.googleapis.com/css?family=Source+Code+Pro|Dosis|Maven+Pro)

// $header-font-family: "Dosis", Helvetica, Arial, sans-serif
// $paragraph-font-family: "Maven Pro", Helvetica, Arial, sans-serif
// $code-font-family: "Source Code Pro", Courier, monospace

$green: #219759
$orange: #FF9447

$primary-color: $orange

$topbar-bg: #111
$topbar-link-bg-hover: lighten($topbar-bg, 15%)
$topbar-link-bg-active: darken($green, 15%)

@import 'normalize'
@import 'foundation'
@import 'modules'
@import 'states'

.spacey
  margin:
    top: 60px

.alerts
  padding:
    top: 10px
    left: 10px
    right: 10px
button.tiny.right
  margin:
    right: 10px
